body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #e9ebee;
}

.header {
  background: #4267b2;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header span {
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 600;
}

.post {
  width: 700px;
  min-height: 200px;
  margin: 20px;
  background: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(231, 231, 231);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0px 2px 5px #797979;
}

.post-content {
  margin: 15px;
}

.post-content p {
  font-weight: 500;
  text-align: justify;
  color: #797979;
  line-height: 1.7em;
}

.post-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #cccccc;
  height: 115px;
  margin: 0 10px;
}

.post-profile img {
  width: 80px;
  border-radius: 100%;
  margin: 10px;
}

.post-profile-name {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.post-profile-name .span-name {
  color: #818181;
  font-weight: 600;
}

.span-time {
  padding-top: 8px;
  font-weight: normal;
  color: #c7c7c7;
}
